<%= @user.email%>
<h1>Events Am Attending </h1>
<ul>
  <% current_user.attended_events.each do |event| %>
    <li>
       <%= link_to event.even_name, event_path(event) %>
    </li> 
  <% end %>
</ul>

<h1>Events I attended</h1>
<ul>
    <%event = Event.past_events.each do |event| %>
        <li>
        <%= event.even_name%></br>
          <%= event.description %></br>
          <%= event.location %><br>
        <%= event.date%></br>
        </li>
    <% end %>
</ul>

<%= link_to 'Home', events_path %>
<%= link_to 'Profile', users_path %>
