<h1>All events</h1>
<ul id='events'>
    <% @events.each do |event| %>
      <li><%= link_to event.title, event %>
        <%= event.date %>
        </li>
    <% end %>
</ul>


<%= link_to 'Sign In', new_user_session_path, method: :get %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<%= link_to 'create event', new_event_path %>
