<h1>Upcoming events</h1>
<ul id='events'>
  <% event = @upcoming_events.each do |event| %>
    <li><%= link_to event.even_name, event %>
      <%= event.date %>
      <% if current_user %>
      <%= link_to 'Attend', event_attend_path(event.id), method: :post %>
      <% end %>
    </li>
  <% end %>
</ul>

<h1>Past Events</h1>
<ul>
  <%event = @past_events.each do |event| %>
  <li>
    <%= event.even_name%></br>
    <%= event.description %></br>
    <%= event.location %></br>
    <%= event.date%></br>
  </li>
  <% end %>
 </ul>


